footer
    .footer_body
        //- div.main
        div.footer
            div.bubbles
                - for (var i = 0; i < 128; i++) //Small numbers looks nice too
                    div.bubble(style=`--size:${2+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*110}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;`)
            div.content2
                div
                    div
                        b CCIT 2 밥먹었개
                    div
                        b 조원
                        a.footer_a(href="#") 한정우
                        a.footer_a(href="#") 김인국
                        a.footer_a(href="#") 김보명
                        a.footer_a(href="#") 김태형
                    div
                        b 역할
                        a.footer_a(href="#") 한정우-서버
                        a.footer_a(href="#") 김인국-서버
                        a.footer_a(href="#") 김보명-어플
                        a.footer_a(href="#") 김태형-하드
                    div
                        b 지도교수
                        a.footer_a(href="#") 김송강 교수님
                        a.footer_a(href="#") 박희동 교수님
                        a.footer_a(href="#") 이성규 교수님
                div
                    a.image(href="https://codepen.io/z-" target="_blank" style="background-image: url(\"https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg\")")
                    p ccit 2팀 밥먹었개
        svg(style="position:fixed; top:100vh")
            defs
                filter#blob
                    feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
                    feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob")
                    feComposite(in="SourceGraphic" in2="blob" operator="atop")