header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                img(src="/image/basicimg.png")
        .header__column
            form(action=routes.search method="GET")
                input(type="text", placeholder="검색어를 입력해주세요.." name="term")
        .header__column
            ul  
                if !loggedUser
                    li
                        a(href=`/boards${routes.videos}`) 게시판
                    li
                        a(href=`/boards${routes.photos}`) 게시판
                    li
                        a(href=routes.join) 회원가입
                    li
                        a(href=routes.login) 로그인
                else
                    li 
                        a(href=`/users${routes.product}`) 기기 정보
                    li
                        a(href=`/boards${routes.videos}`) 게시판
                    li
                        a(href=`/boards${routes.photos}`) 게시판
                    li
                        a(href=routes.me) 내 정보
                    li
                        a(href=routes.logout) 로그아웃
