extends layouts/main

block content
    .board__player
        video(src=`/${board.fileUrl}`, controls="controls")
    .board__info
        a(href=routes.editBoard(board.id)) Edit Board
        h5.board__title=board.title
        span.board__views=board.views
        p.board__description=board.description
    .board__comments
        if board.comments.length === 1
            span.video__comment-number 1 comment
        else
            span.video__comment-number #{board.comments.length} comments 