extends layouts/main

block content
    .video__player
        video(src=`/${board.fileUrl}`, controls="controls")
    .video__info
        a(href=routes.editBoard) Edit Board
        h5.video__title=board.title
        span.video__views=board.views
        p.video__description=board.description 