extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.videoUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button 비디오 수정
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                |Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentVideoNumber 1
                    |  comment
            else  
                span.video__comment-number
                    span#jsCommentVideoNumber=video.comments.length
                    |  comments
            form.add__comment#jsAddVideoComment
                input(type="text", placeholder="댓글...")
            ul.video__comments-list#jsCommentVideoList
                each comment in video.comments.reverse()
                    li
                        span=comment.text
                        a(href=`${routes.userDetail(comment.creator)}`)=comment.displayName
                        if (loggedUser)
                            if (loggedUser.id === video.creator.id)
                                form.jsDeleteVideoComment
                                    input.jsDeleteVideoInput(type="hidden" value=comment.id)
                                    button.jsDeleteVideoBtn(onclick="return confirm('정말로 삭제하시겠습니까?')")
                                        i.fas.fa-trash-alt
                            each loggedUserComment in loggedUser.comments
                                if (comment.id === String(loggedUserComment) && loggedUser.id === video.creator.id)
                                    form.jsUpdateVideoComment
                                        input.jsUpdateVideoTarget(type="hidden" value=comment.id)
                                        button.jsUpdateVideoBtn
                                            i.fas.fa-user-edit
                                        input.jsUpdateVideoInput(type="text" placeholder=`${comment.text}`)
                                else if (comment.id === String(loggedUserComment) && loggedUser.id !== video.creator.id)
                                    form.jsDeleteVideoComment
                                        input.jsDeleteVideoInput(type="hidden" value=comment.id)
                                        button.jsDeleteVideoBtn(onclick="return confirm('정말로 삭제하시겠습니까?')")
                                            i.fas.fa-trash-alt
                                    form.jsUpdateVideoComment
                                        input.jsUpdateVideoTarget(type="hidden" value=comment.id)
                                        button.jsUpdateVideoBtn
                                            i.fas.fa-user-edit
                                        input.jsUpdateVideoInput(type="text" placeholder=`${comment.text}`)